src/build
*.DS_Store
src/external/fmt/
src/external/json/
src/external/libevent/
src/external/openssl/
src/external/cxxopt/
src/external/yaml/
src/external/protobuf/
src/external/hiredis/
src/external/rediscxx/
src/external/mongoc/
src/external/mongocxx/
src/external/sasl2/
src/external/clickhousecxx/
src/external/jwt-cpp/
src/external/nghttp2/
__pycache__
*_pb2.py
.vscode
.pyenv
